# Python First Lessons and Exercises of chapters 4 and 5.

In [4]:
import math

In [5]:
math.sqrt(25)

5.0

In [6]:
math.pi

3.141592653589793

In [7]:
import math as mt

In [8]:
mt.sqrt(25)

5.0

In [9]:
import numpy as np
import pandas as pd
import scipy as sp
import plotly.plotly as py

ModuleNotFoundError: No module named 'plotly'

In [ ]:
pip --version

In [ ]:
pip3 --version

In [ ]:
pip install numpy

In [ ]:
pip install pandas

In [ ]:
pip install matplotlib

In [ ]:
pip install scipy

In [ ]:
pip install -U scikit-learn

In [ ]:
pip freeze

In [ ]:

import numpy

In [ ]:
import numpy as np

Uniform randomo numbers in [0,1]

In [ ]:
# Uniform random numbers in [0,1]
dataOne=np.random.rand(5,5)

In [ ]:
import math

In [ ]:
import scipy

In [ ]:
math.random

In [ ]:
dataOne = random.rand(5,5)

In [ ]:
math.pi

In [ ]:
import math

In [ ]:
math.pi

In [ ]:
numpy.random

In [ ]:
import numpy as np

In [ ]:
dataOne = np.random.rand(5,5)

In [ ]:
dataOne

In [ ]:
np.mean(dataOne)

In [ ]:
import scipy

In [ ]:
import math

In [ ]:
scipy

In [ ]:
help(scipy)

In [ ]:
import numpy as np

In [ ]:
np.some_function()

In [ ]:
from scipy import stats

In [ ]:
math.isnan(dataOne)

In [ ]:
stats.describe(dataOne)

In [ ]:
stats.find_repeats(dataOne)stats.gmean(dataOne)

In [ ]:
stats.gmean(dataOne)


los datos hallados o calculados se presentan por vector o columna

In [ ]:
stats.kurtosis(dataOne)

In [ ]:
stats.trim_mean(dataOne, 0.25)

In [ ]:
res = stats.cumfreq(dataOne,numbins=5)

In [ ]:
res.cumcount

In [ ]:
math.floor(dataOne[1,1])

In [ ]:
math.fabs(dataOne[1,1])

In [ ]:
dataOne[4,4]

In [ ]:
Y = 25

In [ ]:
Y

In [ ]:
YY = 'I love data science'

In [ ]:
YY

In [ ]:
print(YY)

In [ ]:
#tipo de variables
type(Y)

In [ ]:
#otro tipo de variable
type(YY)

In [ ]:
# Otro ejemplo utilizando otros tipos de variables
varOne = 25

In [ ]:
varTwo = 25.0

In [ ]:
varThree = varOne + varTwo

In [ ]:
print(varThree)

In [ ]:
#Ejemplo combinado
varOne = 25
isinstance(varOne,complex)

In [ ]:
varTwo = 'Hello'
type(varTwo)

In [ ]:
varOne = str(varOne)
varThree = varOne + varTwo

In [ ]:
print(varThree)

In [ ]:
a = [5,10,15,20,25,30,35,40]

In [ ]:
a[2]

In [ ]:
print("a[2]=", a[2])

In [ ]:
#Listas
listOne = [1,2,3,4]

In [ ]:
print(listOne[1:3])

In [ ]:
#Dictionaries
tel = {"jack": 4098, 'sape': 4139}

In [ ]:
tel["jack"]

In [ ]:
Ingreso = {"Alan" : 1.8, "Juan" : 2.5, "Frank" : 1.5, "Ana" : 1.5, "Jose" : 1.1}

In [ ]:
print(type(Ingreso))

In [ ]:
raiz_suma = math.sqrt(math.fsum( [Ingreso["Alan"], Ingreso["Frank"], Ingreso["Jose"] ] ))

In [ ]:
raiz_suma

In [ ]:
suma = Ingreso["Alan"] + Ingreso["Frank"] + Ingreso["Jose"]

In [ ]:
math.sqrt(suma)

In [ ]:
limite_inc = math.ceil(Ingreso["Frank"] + Ingreso["Jose"] + Ingreso["Ana"])

In [ ]:
print("Limite Ingreso = ", limite_inc)

In [ ]:
Trunc = [math.trunc(Ingreso["Frank"]), math.trunc(Ingreso["Jose"]), math.trunc(Ingreso["Juan"])]

In [ ]:
Trunc

In [ ]:
print(raiz_suma, limite_inc, Trunc)

In [ ]:
#Python for Data Science for Dummies Chapter 4

In [ ]:
5 + 2

In [ ]:
5 - 2

In [ ]:
5 * 2

In [ ]:
5 / 2

In [ ]:
5 % 2

In [ ]:
5 ** 2

In [ ]:
5 // 2

In [ ]:
#Unary Operators
~ 4

In [ ]:
-(-4)

In [ ]:
-4

In [ ]:
+4

In [ ]:
#Bitwise Operators
0b1100 & 0b0110

Here we use the function bin() in orden to obtain the output in terms of bits

In [ ]:
bin(4)

In [ ]:
0b1100 | 0b0110

In [ ]:
bin(14)

In [ ]:
0b1100 ^ 0b0110

In [ ]:
bin(10)

In [ ]:
~0b1100

In [ ]:
bin(-13)

In [ ]:
~0b0110

In [ ]:
bin(-7)

In [ ]:
0b00110011 << 2

In [ ]:
bin(204)

In [ ]:
0b00110011 >> 2

In [ ]:
bin(12)

We have to use the bin function in order to know the output in terms of bits.

# Comparing data using Boolean Expressions
Exercises

##  == Determines wheter two values are equal 
    1 == 2

In [ ]:
1 == 2

##    ! Determines whether two values are not equal

In [ ]:
1 != 2

## Operators used to verify which value is greater or less: > or <

In [ ]:
1 > 2

In [ ]:
1 < 2

## Operators used to verify if the values are greater or equal than the another: >= or <0

In [ ]:
1 >= 2

In [ ]:
1 <= 2

# Creating and Using Strings

In [ ]:
ord("A")

Any single letter can be convert to its numeric equivalent using the ord() command.

In [ ]:
myInt = int("123")

In [ ]:
myInt

In [ ]:
myStr = str(1234.56)

In [ ]:
myStr

## Python Membership Operators

In [ ]:
"Hello" in "Hello Goodbye"

in: Determines whether the value in the left operand appears in the sequence found in the right operand

not in: Determines whether the value in the left operand is missing from the sequence found in the right operand

In [ ]:
"Hello" not in "Hello Goodbye"

## Python Identity Operators
is: evaluates to True when the type of the value or expression in the right operand points to the same type in the left operand
for example:

In [ ]:
type(2) is int

In [ ]:
type(2) is not int

is not: evaluates to true when the type of the value or expression in the right operand points to a different type than the value or expression in the left operand.

# Interacting with Dates

In [ ]:
import datetime

In [ ]:
datetime.datetime.now()

To facilitate the reading of the date and time is necessary to use the following scritp:

In [ ]:
str(datetime.datetime.now().date())

Others commands you can use:

In [ ]:
str(datetime.datetime.now().time())

# Creating and Using Functions

In [ ]:
def SayHello():
    print("Hello There!")

In [ ]:
SayHello()

## Sending required arguments

In [ ]:
def DoSum(Value1, Value2):
    return Value1 + Value2

In [ ]:
DoSum()

In [ ]:
DoSum(1)

In [ ]:
DoSum(1,2)

## Sending arguments by keyword

In [ ]:
def DisplaySum(Value1, Value2):
    print(str(Value1) + ' + ' + str(Value2) + ' = ' + str((Value1 + Value2)))

In [ ]:
DisplaySum(2,3)

In [ ]:
DisplaySum(Value2 = 3, Value1 = 2)

## Giving function arguments a default value

In [ ]:
def SayHello(Greeting = "Not Value Supplied"):
    print(Greeting)

In [ ]:
SayHello()

In [ ]:
SayHello("Howdy!")

## Creating functions with a variable number of arguments

In [ ]:
def DisplayMulti(ArgCount = 0, *VarArgs):
    print("You passed " + str(ArgCount) + ' arguments.', VarArgs)

In [ ]:
DisplayMulti()

In [ ]:
DisplayMulti(3,"Hello",1, True)

# Using Conditional and Loop Statements

## Making decisions using the if statement

In [ ]:
def TestValue(Value):
    if Value == 5:
        print("Value equals 5!")
    elif Value == 6:
        print("Value equals 6!")
    else:
        print("Value is something else.")
        print("It equals " + str(Value))

In [ ]:
TestValue(1)

In [ ]:
TestValue(5)

In [ ]:
TestValue(6)

In [ ]:
TestValue(0)

## Choosing between multiple options using nested decisions:

In [ ]:
def SecretNumber():
    One = int(input("Type a number between 1 and 10: "))
    Two = int(input("Type a number between 1 and 10: "))
    
    if(One >= 1) and (One <= 10):
        if(Two >= 1) and (Two <= 10):
            print("Your secret number is: " + str(One * Two))
        else:
            print("Incorrect second value!")
    else:
        print("Incorrect first value!")

In [ ]:
SecretNumber()

In [ ]:
SecretNumber()

In [ ]:
SecretNumber()

## Performing repetitive tasks using for

In [ ]:
def DisplayMulti(*VarArgs):
    for Arg in VarArgs:
        if Arg.upper() == "CONT":
            continue
            print("Continue Argument: " + Arg)
        elif Arg.upper() == "BREAK":
            break
            print("Break Argument " + Arg)
        print("Good Argument " + Arg)

In [ ]:
DisplayMulti("Hello", "Cont", "Goodbye", "Last")

In [ ]:
DisplayMulti("Hello", "Cont", "Goodbye", "Break", "Last")

## Using the while statement

In [ ]:
def SecretNumber():
    GotIt = False
    while GotIt == False: 
        One = int(input("Type a number between 1 and 10: "))
        Two = int(input("Type a number between 1 and 10: "))
        
        if(One >= 1) and (One <= 10):
            if(Two >= 1) and (Two <= 10):
                print("Secret number is: " + str(One * Two))
                GotIt = True
                continue
            else:
                print("Incorrect second value!")
        else:
            print("Incorrect first value!")
        print("Try again!")

In [ ]:
SecretNumber()

# Storing Data Using Sets, Lists, and Tuples

## Performing operations on sets

In [ ]:
SetA = set(["Red", "Blue", "Green", "Black"])
SetB = set(["Black", "Green", "Yellow", "Orange"])
SetX = SetA.union(SetB)
SetY = SetA.intersection(SetB)
SetZ = SetA.difference(SetB)

In [ ]:
print('{0}\n{1}\n{2}'.format(SetX, SetY, SetZ))

In [ ]:
SetA.issuperset(SetY)

In [ ]:
SetA.issubset(SetX)

In [ ]:
SetA.add("Purple")

In [ ]:
SetA.issubset(SetX)

## Working with lists

In [ ]:
ListA = [0, 1, 2, 3]
ListB = [4, 5, 6, 7]
ListA.extend(ListB)

In [ ]:
ListA

In [ ]:
ListA.append(-5)

In [ ]:
ListA

In [ ]:
ListA.remove(-5)

In [ ]:
ListA

In [ ]:
ListX = ListA + ListB

In [ ]:
ListX

## Creating and using Tuples

In [ ]:
MyTuple = (1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [ ]:
for Value1 in MyTuple:
    if type(Value1) == int:
        print (Value1)
    else:
        for Value2 in Value1:
            if type(Value2) == int:
                print ("\t", Value2)
            else:
                for Value3 in Value2:
                    print ("\t\t", Value3)

Adding new values, but it must do it by adding the original entries and the new values to a new tuple>

In [ ]:
MyNewTuple = MyTuple.__add__((10, 11, 12, (13, 14, 15)))

In [ ]:
MyNewTuple

In [ ]:
for Value1 in MyNewTuple:
    if type(Value1) == int:
        print (Value1)
    else:
        for Value2 in Value1:
            if type(Value2) == int:
                print ("\t", Value2)
            else:
                for Value3 in Value2:
                    print ("\t\t", Value3)

## Defining Useful Iterators

In [ ]:
ListA = ["Orange", "Yellow", "Green", "Brown"]

In [ ]:
ListB = [1, 2, 3, 4]

In [ ]:
ListA[1]

In [ ]:
ListB[1:3]

In [ ]:
for Value in ListB[1:3]:
    print (Value)

In [ ]:
ListB[:3]

Sometimes you need to process two lists in parallel. The simplest method of doing this is to use the zip() function.

In [ ]:
for Value1, Value2 in zip(ListA, ListB):
    print(Value1, Value2)

## Indexing Data Using Dictionaries

A dictionary is a special kind of sequence that uses a name and value pair.

In [ ]:
MyDict = {"Orange":1, "Blue":2, "Pink":3}

In [ ]:
MyDict["Pink"]

In [ ]:
MyDict.keys()

In [ ]:
MyDict.values()

# Chapter 5 
# Working with Real Data

In [ ]:
with open("Colors.txt", "r") as open_file:
    print("Colors.txt content:\n" + open_file.read())

## Streaming large amounts of data into memory

In [ ]:
with open("Colors.txt", "r") as open_file:
    for observation in open_file:
        print("Reading Data: " + observation)

Python streams each record from the source. This means that you must perform a read for each record you want.

## Sampling data

The following code shows how to retrieve every other record in the Color.txt file:

In [ ]:
n = 2
with open("Colors.txt", "r") as open_file:
    for j, observation in enumerate(open_file):
        if j % n == 0:
            print("Reading Line: " + str(j) + " Content: " + observation)

In [ ]:
n = 3
with open("Colors.txt", "r") as open_file:
    for j, observation in enumerate(open_file):
        if j % n == 0:
            print("Reading Line: " + str(j) + " Content: " + observation)

You can perform random sampling as well. All you need to do is randomize the selector, like this:

In [ ]:
from random import random
sample_size = 0.25
with open("Colors.txt", "r") as open_file:
    for j, observation in enumerate(open_file):
        if random() <= sample_size:
            print("Reading Line: " + str(j) + " Content: " + observation)

# Accesing Data in Structured Flat File Form

In [ ]:
import pandas

Here is where pandas library is used to make easier to read and understand flat - file data.
We are going to be working with different structured data: text files, comma-separated value (CSV) and Excel formats.

## Reading from a text file

You can use the pandas library to find a set of parsers, code used to read individual bits of data and determine the purpose of each bit according to the format of the entire file. Using the correct parser is essential if you want to make sense of file content.
In this case, you use the read_table() method to accomplish the task:

In [ ]:
import pandas as pd

In [ ]:
color_table = pd.io.parsers.read_csv("Colors.txt", "\t" )
print(color_table)

## Reading CSV delimited format

Pandas also makes possible to work with the CSV file as formatted data:

In [ ]:
titanic = pd.io.parsers.read_csv("Titanic.csv")
X = titanic[["age"]]
print(X)

To create the output as a list, you simply change the line of code to read X = titanic[[age]].values

In [ ]:
titanic = pd.io.parsers.read_csv("Titanic.csv")
X = titanic[["age"]].values
print(X)

## Reading Excel and other Microsoft Office Files

When you are working with Excel implies that your file can contain more than one worksheet, so you need to tell pandas which worksheet to process. In fact, you can choose to process multiple worksheets, if desired. When working with other Office products, you have to be specific about what to process. Just telling pandas to process something isn't good enough.

In [ ]:
xls = pd.ExcelFile("Values.xls")
trig_values = xls.parse("Sheet1", index_col=None, na_values=["NA"])
print(trig_values)

Simplest way:

In [ ]:
trig_values = pd.read_excel("Values.xls", "Sheet1", index_col=None, na_values=["NA"])

In [ ]:
print(trig_values)

## Sending Data in Unstructured File Form

Unstructured dta files consist of a series of bits. The file doesn't separate the bits from each other in any way. You can't simply look into the file and see any structure because there isn't any to see. 
working with images:

In [ ]:
pip install scikit-image

In [ ]:
import skimage

In [ ]:
from skimage.io import imread

In [ ]:
from skimage.transform import resize

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
import matplotlib.cm as cm

In [ ]:
example_file = ("http://upload.wikimedia.org/" + "wikipedia/commons/7/7d/Dog_face.png")
image = imread(example_file, as_grey = True)
plt.imshow(image, cmap = cm.gray)
plt.show()

In order to discover the image and size of the image, use the following code:

In [ ]:
print("data type: %s, shape: %s" %
     (type(image), image.shape))

You can manipulate the array of pixels, in this case to crop the image, that is to make it a specific size:

In [ ]:
image2 = image[5:70, 0:70]
plt.imshow(image2, cmap = cm.gray)
plt.show

Another method to change the image size is to resize it. For instance:

In [ ]:
image3 = resize(image2, (30, 30), mode= 'wrap')
plt.imshow(image3, cmap = cm.gray)
print("data type: %s, shape:%s" %
     (type(image3), image3.shape))

After you have all the images the right size, you need to flatten them. A dataset row is always a single dimension, not two dimensions. The image is currently an array of 30 pixels by 30 pixels, so you can't make it part of a dataset. The following code flattens image3 so that it becomes an array of 900 elements that is stored in image_row:

In [ ]:
image_row = image3.flatten()
print("data type: %s, shape: %s" %
     (type(image_row), image_row.shape))

Notice that the type is still a numpy.ndarray. It can be added to a dataset and then use the dataset for analysis purposes. The size is 900 elements, as anticipated

## Managing Data from Relational Databases

The vast majority of data used by organizations rely on relational databases because these databases provide the means for organizing massive amounts of complex data in an organized manner that makes the data easy to manipulate. The goal of a database manager is to make data easy to manipulate. The focus of most data storage is to make data easy to retrive

Relational databases accomplish both the manipulation and data retrieval objectives with relative ease. The Structured Query Languaje (SQL) lets you perform all sorts of management tasks in a relational database, retrieve data as is needed, and even shape it in a particular way so that the need to perform additional shaping is unnecessary.

First: creating a connectionto a database, gaining access to the database engine. (Database Managment Systems DBMS)

## Accesing Data from the WEB

One of the most beneficial data access techniques to know when working with web data is accessing XML:

In [ ]:
from lxml import objectify

In [ ]:
import pandas as pd

In [ ]:
xml = objectify.parse(open("XMLData.xml"))

In [ ]:
root = xml.getroot()

In [ ]:
df = pd.DataFrame(columns = ("Number", "String", "Boolean"))

In [ ]:
for i in range(0, 4):
    obj  = root.getchildren()[i].getchildren()
    row = dict(zip(["Number", "String", "Boolean"],
                  [obj[0].text, obj[1].text,
                  obj[2].text]))
    row_s = pd.Series(row)
    row_s.name = i
    df = df.append(row_s)

print(df)

End practice from chapters 4 and 5.

# An example of a .csv file (you can use one from courses 1-3) you've loaded to your Notebook

In this case the Completeresponses from the Curse 2 was used:

In [11]:
ComRes = pd.io.parsers.read_csv("CompleteResponses.csv")
Z = ComRes[["salary"]]
print(Z)

            salary
0     119806.54480
1     106880.47840
2      78020.75094
3      63689.93635
4      50873.61880
5     130812.74280
6     136459.33920
7     103866.89960
8      72298.80402
9      37803.33285
10     63704.26156
11    128999.93560
12     57991.29599
13     82474.57645
14     63988.96981
15    132310.36040
16    113236.38360
17    120525.59940
18    121457.63490
19     89740.99923
20     95142.11810
21     87383.95734
22     21143.94206
23     34581.64726
24     37200.74208
25     60305.50057
26     32839.41644
27     45070.50666
28     92417.81235
29    107710.31920
...            ...
9868   68137.90860
9869  137519.11240
9870   84927.05267
9871   58256.33954
9872   77477.91120
9873   20000.00000
9874  124107.39180
9875   62906.78635
9876  116003.37970
9877   40641.88742
9878   95164.79018
9879   33536.75554
9880   33002.28517
9881   54496.32543
9882  123690.81900
9883   46398.18577
9884  122232.76890
9885  125856.04040
9886   20609.88696
9887   65351.63132
9888   61754.94679
9889  107514.96740
9890   56402.75863
9891   46041.83546
9892   28751.26107
9893   87580.91422
9894  129181.38200
9895   97828.08884
9896   20000.00000
9897   96430.16419

[9898 rows x 1 columns]

In [14]:
print(ComRes)

            salary  age  elevel  car  zipcode        credit  brand
0     119806.54480   45       0   14        4  442037.71130      0
1     106880.47840   63       1   11        6   45007.17883      1
2      78020.75094   23       0   15        2   48795.32279      0
3      63689.93635   51       3    6        5   40888.87736      1
4      50873.61880   20       3   14        4  352951.49770      0
5     130812.74280   56       3   14        3  135943.02200      1
6     136459.33920   24       4    8        5   80500.56351      1
7     103866.89960   62       3    3        0  359803.89350      1
8      72298.80402   29       4   17        0  276298.69520      0
9      37803.33285   41       1    5        4  493219.26860      1
10     63704.26156   48       4   16        5  299460.22740      1
11    128999.93560   52       1    6        0  152232.50980      0
12     57991.29599   52       3   20        4  227743.74970      1
13     82474.57645   33       4   13        3  424657.49670      0
14     63988.96981   62       2    6        3  262136.30650      0
15    132310.36040   23       1   11        4  451927.60240      1
16    113236.38360   24       2    7        7  198381.89840      1
17    120525.59940   57       1    6        2   15964.68370      0
18    121457.63490   50       2    2        8  415359.23240      0
19     89740.99923   77       0   18        2  195091.92590      1
20     95142.11810   44       0    2        8   89818.29461      0
21     87383.95734   80       3    7        5  243166.61170      1
22     21143.94206   64       2   11        2  296635.25070      1
23     34581.64726   55       0   15        6  185603.25070      1
24     37200.74208   32       3    9        6  168547.07610      1
25     60305.50057   58       1    4        4  469719.50060      1
26     32839.41644   30       4   20        1  177224.36260      1
27     45070.50666   48       3    1        5  360446.39090      1
28     92417.81235   43       0    2        0   22677.44642      0
29    107710.31920   75       0   16        2  209002.40650      1
...            ...  ...     ...  ...      ...           ...    ...
9868   68137.90860   50       4   17        1  225870.23500      1
9869  137519.11240   50       4    9        0  477984.41990      1
9870   84927.05267   26       1   19        6   46527.20765      0
9871   58256.33954   47       0   14        6  383583.06670      1
9872   77477.91120   50       3   11        2  290851.27900      0
9873   20000.00000   68       1    2        2  309608.69120      1
9874  124107.39180   50       0    3        6  282299.59790      1
9875   62906.78635   27       3    7        6  315759.16680      0
9876  116003.37970   67       4   14        5   13989.50448      1
9877   40641.88742   43       4   17        2  175979.86040      1
9878   95164.79018   61       2   16        7  298376.74790      1
9879   33536.75554   54       2    1        3  339148.74640      1
9880   33002.28517   27       3    9        2  435168.11810      1
9881   54496.32543   47       3    1        0  307802.09070      1
9882  123690.81900   51       0   18        0  202377.62730      1
9883   46398.18577   75       1   15        1  245479.56910      0
9884  122232.76890   41       0   11        8  222881.07390      0
9885  125856.04040   79       2    2        6  474557.49130      1
9886   20609.88696   34       3   14        8  423847.35160      1
9887   65351.63132   64       2    8        3   55905.37003      0
9888   61754.94679   55       4    4        4  426934.50590      1
9889  107514.96740   31       4    9        8  398788.19080      1
9890   56402.75863   22       2   14        1  201490.36420      0
9891   46041.83546   76       3   10        8  479419.77360      0
9892   28751.26107   60       2   10        0       0.00000      1
9893   87580.91422   75       1   18        8  282511.90950      1
9894  129181.38200   75       2    7        4  384871.36390      1
9895   97828.08884   66       2   15        0  399446.69620      1
9896   20000.00000   24       1   14        1  223204.64950      1
9897   96430.16419   34       1    2        7  224029.80700      0

[9898 rows x 7 columns]

## Additional questions

Was it straightforward to install Python and all of the libraries?

R/ Yes it was, I tried and did it in the Jupyter Notebook using the cmd and also using the Notebook itself.

Was the tutorial useful? Would you recommend it to others?

R/ Yes it was useful, and easy to follow, I will recommend it to others, specially people without training in computer programming like myself.

What are the main lessons you've learned from this experience?

R/ First, that we can learn to use new programming lenguages, create objects and manipulate its elements. Second, that almost all we need to star working in data science is to transform the database in dataframe formats used by the programming language. From there we can initiate our plan to try to answer our questions and to probe if the hyphotesis are rejected or no.